html{overflow-x:hidden;}

@font-face {
 font-family: 'OpenSans-Regular';
 src: url('../fonts/OpenSans-Regular.eot');
 src: url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg'), url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'OpenSans-Semibold';
 src: url('../fonts/OpenSans-Semibold.eot');
 src: url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg'), url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'OpenSans-Bold';
 src: url('../fonts/OpenSans-Bold.eot');
 src: url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'), url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
 font-weight: normal;
 font-style: normal;
}

body {

	font-family: 'OpenSans-Regular', Helvetica, sans-serif;
	overflow-x:hidden;

}
@font-face {
 font-family: 'Raleway-Bold';
 src: url('../fonts/Raleway-Bold.eot');
 src: url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg#OpenSans-Bold') format('svg'), url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration:none;
	-moz-transition: all .3s ease-in-out;
 -webkit-transition: all .3s ease-in-out;
 transition: all .3s ease-in-out;
}

a:hover{text-decoration:none;}


.inner-content{float:left; width:100%;}

.about-section{float:left; width:100%; padding:50px 0px;}
.about-section h1{color:#e07100; margin:0px; font-size:35px; padding-bottom:10px;}
.about-section p{font-size:18px; line-height:25px; margin:25px 0 0 0px; color:#e07100;}
.about-section-img{text-align:right;}

.showme-form-bg{float:left; width:100%; background:#dbdbdb; padding:50px 0px;}
.showme-form{padding:25px; background:#c1c3c3;}

.showme-form select {
	width:250px;
	margin:0px;
	padding:0px 25px;
	background:#fff;
	float:left;
	outline:none;
	height:48px;
	text-transform:uppercase;
	font-size:17px;
	margin-right:30px;
	font-weight:400;
	border:none;
	color:#e07100;
}
.showme-form label{float:left; display:inline-block; line-height:48px; margin-right:30px; text-transform:uppercase; font-size:17px; color:#565a58; text-transform:uppercase;}
.go-btn {
	display: inline-block;
	border:none;
	width:160px;
	height:48px;
	line-height:48px;
	padding:0px 0 0 20px;
	text-align:left;
	background:url(../images/gobtn-arrow.png) no-repeat right center #e07100;
	color:#fff;
	font-size:17px;
	cursor:pointer;
	 -moz-transition: all .3s ease-in-out;
 -webkit-transition: all .3s ease-in-out;
 transition: all .3s ease-in-out;
}

.thailand-tours{float:left; width:100%; text-align:center; padding:60px 0px;}
.thailand-tours h1{color:##444; text-transform:uppercase; margin:0px; background:url(../images/headingbg.jpg) no-repeat bottom center; padding-bottom:20px;}
.thailand-tours h2{color:#5e6163; font-size:22px; line-height:29px; margin:45px 0px;}

.tourimg{position:relative; margin-bottom:30px;}
.bigimg{width:100%;}
.tourimg a:hover{text-decoration:none;}
.tourimg-content{position:absolute; left:0px; top:0px; padding:20px; width:100%; height:100%;}
.tourimg-content h3{color:#fff; margin-top:0px;}
.tourimg-content h4{color:#fff;}
.bottomtext{margin:0px; padding:15px; border-top:solid 1px #fff; color:#fff; font-size:16px; position:absolute; width:90%; bottom:0px; left:0px; margin:0px 5%;}
.viewbtn{float:left; width:100%; text-align:center; margin-top:20px;}
.viewbtn a{color:#e07100; border:solid 1px #e07100; padding:10px 40px; border-radius:5px; background:none;}
.viewbtn a:hover{background:#e07100; color:#fff; text-decoration:none;}

.hotels{float:left; width:100%; padding:50px 0px; background:#dbdbdb; text-align:center;}
.hotels h1{color:##444; text-transform:uppercase; margin:0px; background:url(../images/hotels-headingbg.jpg) no-repeat bottom center; padding-bottom:20px;}
.hotels h2{color:#5e6163; font-size:22px; line-height:29px; margin:45px 0px;}

.weather-table{float:left; width:100%;}
.weather-table table{width:100%; text-align:center;}
.weather-table table img{width:30px;}
.table-dark-green {
    background: #e07100!important;
    width: 200px;
	color:#fff;
	font-size:17px;
	padding:5px;
}
.weather-table tbody>tr>td, .weather-table tbody>tr>th, .weather-table tfoot>tr>td, .weather-table tfoot>tr>th, .weather-table thead>tr>td, .weather-table thead>tr>th {
    border: 1px solid #ddd;
}
.weather-table th{text-align:center; background:#e07100; width:100px; padding:5px; font-size:17px; color:#fff;}
.weather-table th span{font-size:30px; display:block;}
.french-weather-icon{display:block; font-size:12px;}

.filters{float:left; width:100%; padding-bottom:50px;}
.filterview{padding:7px 28px; border-radius:5px; border:solid 1px #e07100; color:#e07100; background:none;}
.filterview:hover{background:#e07100; color:#fff;}

.filtermid-left{width:50%; float:left; font-weight:bold; margin-top:3px; color:#5e6163; font-size:16px; padding:3px 10px; border-right:solid 2px #5e6163; text-align:center;}
.filtermid-left span{color:#e07100;}
.viewby{padding:7px 8px; border-radius:5px; border:solid 1px #e07100; color:#e07100; background:none; outline:none; margin:-10px 10px 0px 10px;}
.sortby{padding:7px 28px; border-radius:5px; border:solid 1px #e07100; color:#e07100; background:none; outline:none;}

.products-box{float:left; width:100%; margin-bottom:50px;}

.resetbtn{float:left; width:100%;}

.categrioesbox{float:left; width:100%; margin-top:20px; border:solid 1px #cccccc; overflow:hidden; border-radius:5px 5px 0 0;}
.categrioesbox h1{margin:0px; color:#fff; background:#e07100; padding:8px; font-size:17px; font-weight:bold;}
.categrioesbox-content{padding:10px; float:left; width:100%;}

.searchbar{position:relative;}
.searchbar input[type="text"] {
	width:100%;
	margin:0px;
	padding:0px 10px;
	background: #fff;
	height:35px;
	outline:none;
	font-size:12px;
	font-weight:400;
	border:1px solid #ccc;
	color:#8b8a8a;
}
.searchbtn{border:none; position:absolute; right:10px; top:10px; cursor:pointer; background:url(../images/searchbtn.png) no-repeat; width:18px; height:15px;}

.type-radiogrp p{margin:5px 0px; float:left; width:100%;}
.type-radiogrp label {color:#494950; display:block; font-weight: normal;}
.type-radiogrp input[type="radio"] {
  visibility: hidden;
  float:left;
  width:0px;
}
.type-radiogrp label {
  cursor: pointer;
  float:left; width:100%;
}
.type-radiogrp input[type="radio"] + label:before {
  border: 2px solid #e07100;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 4px 10px 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
.type-radiogrp input[type="radio"]:checked + label:before {
  background: #fff;
  color: #000;
  content: "\2713";
  text-align: center;
}
.type-radiogrp input[type="radio"]:checked + label:after {
  font-weight: bold;
}

.type-radiogrp input[type="radio"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.productbox{margin-bottom:30px; float:left; width:100%;}
.productbox-top{position:relative;}
.productbox-top img{width:100%;}
.productbox-top h2{position:absolute; left:0px; top:20px; width:100%; text-align:center; color:#fff; font-weight:bold; font-size:20px;}
.productbox-top-bottom{position:absolute; left:0px; bottom:0px; width:100%; text-align:center;}
.productbox-top-bottom img{width:30px;}
.productbox-top-bottom span{position:absolute; right:0px; bottom:0px;}
.productbox-top-bottom span img{width:auto;}
.productbox h3{border-bottom:solid 2px #ccc; padding:10px 0px; color:#4c4c4c; font-size:15px; text-transform:uppercase; margin:0px;}
.productbox h3 a{float:right; color:#e07100;}
.productbox h3 a:hover{color:#000; text-decoration:none;}

.productlist{float:left; width:100%;}
.productlist ul{padding:0px; margin:15px 0 15px 15px; float:left;}
.productlist li{color:#4c4c4c; font-size:12px;}

.bottom-btngrp{text-align:center; float:left; width:100%;}
.bottom-btngrp a{width:48%; float:left; border-radius:5px; padding:5px 0px; margin:1%; background:#e07100; color:#fff;}
.bottom-btngrp a:hover{background:#000; color:#fff; text-decoration:none;}

.headernavshow{width:100%; position: relative; z-index: 99; float:left;}

.bannersilder{width:100%; float:left;}
.arrowleft{top: 50%; position: absolute; background: rgba(225, 225, 225, 0.72); height: 70px; padding:25px 0px 0px; border-radius: 50%; width: 73px; left:25%;}
.arrowright{top: 50%; position: absolute; background: rgba(225, 225, 225, 0.72); height: 70px; padding:25px 0px 0px; border-radius: 50%; width: 73px; right:25%;}
.carousel-control.left{background:none;}
.carousel-control.right{background:none;}

a:hover, a:focus {color: #fff;}


.header{float:left; width:100%; padding:10px 0px; position:absolute; left:0px; top:0px; z-index:9; background-image: linear-gradient(to bottom,rgba(0,0,0,0.7) 0, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);}

.navbar{margin:0px; padding:0px; border:none; min-height:inherit;}
.navbar-brand{padding:0px; height:auto;}
.navbar>.container .navbar-brand{margin-left:0px; margin-top:8px;}
.navbar-nav{margin-top:10px;}
.navbar-nav>li{padding:0px 10px;}
.navbar-nav>li>a{padding:0px; font-size:12px; text-transform:uppercase; text-shadow: 0 0 0; color:#fff; font-family: 'OpenSans-Semibold';}
.navbar-nav>li>a:hover{color:#e07100; background:none;}
.navbar-nav > li ul{display:none; position:absolute; min-width:250px; padding-top:17px; left:-70px;}
.navbar-nav > li ul li{background:#4b4e53; padding:10px 15px; border-bottom:solid 1px #ccc; list-style:none; text-align:center;}
.navbar-nav > li ul li a{color:#fff; font-size:12px; letter-spacing:1px;}
.navbar-nav > li ul li a:hover{text-decoration:none; color:#e07100;}
.navbar-nav > li:hover ul{display:block;}

.phoneno{color:#fff; text-transform:uppercase; padding:5px 8px 5px 0px; display:none;}
.phoneno a{color:#fff;}
.phoneno a:hover{color:#e07100; text-decoration:none;}

.affix {
      top: 0;
      width:100%;
	  background:#2e2e31;
	  position:fixed;
	  z-index:9999;
	  border-radius:0px;
}
.affix .navbar-brand{display:none;}
.affix .phoneno{display:block;}
.affix .navbar-nav{margin-top:4px;}

.enquirebtn{border-left:solid 1px #fff; margin-top:-7px;}
.enquirebtn a{padding:7px!important; background:#e07100; display:block;}
.enquirebtn a:hover{background:#fff!important; color:#e07100!important;}
.searchpopup{margin-top:5px;}

.megamenu1{width:720px; left:-40px; padding-top:17px;}
.megamenu1 .megamenu1bg{background:#4b4e53; padding:5px 20px;}
.megamenu1 .col-md-3, .megamenu1 .col-md-4{padding:4px;}
.menuwithimg{position:relative;}
.menuwithimg img{width:100%;}
.menuwithimg a span{position:absolute; left:0px; top:0px; width:100%; text-align:center; color:#fff; text-transform:uppercase; font-family:Raleway-Bold, Helvetica, sans-serif; font-size:12px; height:100%; vertical-align:middle; line-height:70px;}
.menuwithimg a:hover span{color:#e07100;}


/*==================END HEADER CODE ====================*/


.soutaisasrtip{width:100%; margin:20px 0px;  position:relative; z-index:999; clear:both; float:left;}
.aisatxt{float:left; width:100%; float:left;}
.aisaheding{width:100%; border-left:solid 2px #e07100; padding:20px 0px 20px 20px; margin-bottom:10px; float:left;}
.aisaheding h2{float:left; font-size:30px; color:#e07100; width:100%; font-weight:lighter; margin:5px 0px; padding:0px;}
.aisaheding h6{float:left; width:100%; font-size:30px; color:#e07100; padding:0px; line-height:10px; font-family: 'OpenSans-Semibold';}
.aisatxt p{float:left; font-size:14px; color:#4b4e53; line-height:22px; float:left;}

.pakegedetials{width:100%; margin-bottom:15px; float:left;}
.pakeicon{float:left;}
.pakeginfo{float:left; padding:24px 0px 0px;}
.pakeginfo h3{float:left; font-size:16px; color:#4b4e53; font-weight:bolder; margin:0px;}
.pakeginfo h3 a{color:#4b4e53;}
.pakeginfo h4{float:left; font-size:14px; color:#333; clear:both; margin:5px 0px;}

.iconsshow{font-size:28px; color:#e07100; padding:22px 20px 0px 0px;}

.discoverstrip{width:100%; margin:15px 0px; padding:15px 0px 0px; background:#f7f7f7; float:left;}
.discovediv{width:100%; float:left;}
.discovediv h2{width:100%; font-size:18px; color:#4b4e53; text-align:center; font-family: 'OpenSans-Bold'; float:left;}
.discovediv p{width:100%; font-size:14px; color:#4b4e53; text-align:center; float:left;}

.discovershow{width:100%; padding:35px 0px 0px; float:left;}
.discoverbox{width:100%; float:left;}
.padboxs{padding:0px 0px 0px 10px;}
.padright{margin-left:-14px !important;}
.dicoverpic{width:100%; position:relative; overflow:hidden; margin:5px 0px;}
.dicoverpic img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;}
  
  
.dicoverpic img:hover{opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  }
  
.middle {transition:.5s ease; opacity:0; position: absolute; top: 54%; left: 50%; transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%); text-align: center;}
.dicoverpic:hover .image {opacity: 0.3;}
.dicoverpic:hover .middle {opacity: 1;}
.text{border:solid 3px #fff; color:#fff; font-size: 16px; padding: 10px 25px;}
.text:hover{border:solid 3px #e07100; background:#e07100; cursor:pointer;}
.distxts{width:100%; position:absolute; text-align:center; top:30%; font-size:20px; color:#fff; font-family: 'OpenSans-Semibold'; float:left;}
.distxts02{width:100%; position:absolute; text-align:center; top:41%; font-size:20px; color:#fff; font-family: 'OpenSans-Semibold'; float:left;}
.divie{width:45%; margin:0px auto; display:table; border-top:solid 3px #fff; height:34px;}
.discover05{width:100%; float:left;}

.holidaystrip{width:100%; background:#4b4e53; padding:50px 0px; float:left;}
.holidaystrip:hover{width:100%; background:#101010; transition: .5s ease; cursor:pointer;}
.hodlidayhead{width:100%; float:left;}
.hodlidayhead h3{width:100%; text-align:center; float:left; font-size:18px; color:#fff; letter-spacing: 4px; margin:0px;}



.pakeagediv{width:100%; padding:10px 0px; background:#f7f7f7; float:left;}
.pakegdetials{width:100%; background:#fff; float:left;}
.pakegimg{width:100%; float:left;}
.pakegimg img{width:100%; float:left;}
.packinfos{width:100%; padding:5px 10px; float:left;}
.packinfos h4{width:100%; font-size:14px; color:#4b4e53; font-family: 'OpenSans-Bold'; float:left;}
.durations{width:100%; float:left;}
.drutionshow{float:left;}
.drutionshow h6{float:left; font-size:10px; color:#4b4e53; font-family: 'OpenSans-Bold'; clear:both; margin:5px 0px;}
.staricon{float:left; clear:both;}
.stsrcolor{color:#5d8ea2; font-size:13px; float:left; padding:0px 1px 0px 0px;}
.rateright{float:right;}


/*

.whyus:hover,nav.main-menu.expanded {
width:500px;
overflow:visible;
}

.whyus {
background:#ec7417;
border-right:1px solid #e5e5e5;
position:absolute;
top:50%;
right:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.whyus>ul {
margin:7px 0;
}

.whyus li {
position:relative;
display:block;
}

*/

.hotlink-wrapper {
    position: fixed;
    right: 0px;
    height: 0;
    top: 30%;
    z-index: 1000;
}
.hotlink-wrapper #slideout {
    position: absolute;
    top: 32%;
    right: -58px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.xoay {
    transform: rotate(-90deg);
    height: 65px;
}
.xoay a {
    background-color: #14a19c;
    padding: 9px;
    color: white;
    width: 49px;
    padding-left: 25px;
    padding-right: 25px;
}
.xoay a:hover #slideout_inner {
    position: absolute;
    top: 30%;
    border-bottom-right-radius: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    right: -550px;
	width:500px;
	background:#000;
}
#slideout_inner {
    background-color: #14a19c;
    padding: 10px;
    color: white;
}
#slideout:hover #slideout_inner {
    right: 0;
}
#slideout:hover {
    right:500px;
}



/***06-11***/


.cityimg{float:left; width:100%;}
.cityimg img{width:100%;}

.thailand-transfer{float:left; width:100%;}
.thailand-transfer img{max-width:100%;}
.thailand-transfer-content{margin:0 auto; width:500px; padding:80px 50px;}
.thailand-transfer-content h1{color:#4b4e53; font-size:30px; text-transform:uppercase; margin:0px; line-height:30px;}
.thailand-transfer-content h2{color:#4b4e53; font-size:30px; text-transform:uppercase; margin:0px; line-height:30px; font-family: 'OpenSans-Bold'; position:relative;}
.thailand-transfer-content h2::after{content:""; position:absolute; left:0px; bottom:-18px; height:3px; width:70px; color:#4b4e53; background:#4b4e53;}
.thailand-transfer-content p{color:#4b4e53; font-size:16px; line-height:22px; margin:0px; padding:45px 0 22px 0px;}
.thailand-transfer-content a{display:inline-block; border:solid 1px #4b4e53; padding:10px 30px; color:#4b4e53; font-size:14px;}
.thailand-transfer-content a:hover{background:#4b4e53; color:#fff; text-decoration:none;}

.why-book-section{float:left; width:100%; padding-top:10px;}
.why-book-section h1{padding:25px; border-left:#e07100 2px solid; color:#e07100; font-size:30px; margin:0 0 15px 0px;}
.why-book-section h1 span{font-family: 'OpenSans-Bold';}
.why-book-links{margin-bottom:25px;}
.why-book-links h3{background:url(../images/whyus-arrow.jpg) no-repeat left center; padding:10px 0 10px 45px; margin:0px;}
.why-book-links h3 a{color:#4b4e53; font-size:15px;}
.why-book-links h3 a:hover{color:#e07100; text-decoration:none;}
.why-book-links p{color:#4b4e53; font-size:15px;}

.tailor-made-holiday{float:left; width:100%; padding:40px 0px; background:#f7f7f7;}
.tailor-made-holiday h1{color:#4b4e53; font-size:18px; text-transform:uppercase; margin:0px; font-family: 'OpenSans-Bold'; padding-bottom:5px;}
.tailor-made-holiday p{color:#4b4e53; font-size:14px; line-height:25px; margin:0px;}
.tailor-made-holiday a{display:inline-block; border:solid 1px #4b4e53; padding:10px 30px; color:#4b4e53; font-size:14px;}
.tailor-made-holiday a:hover{background:#4b4e53; color:#fff; text-decoration:none;}



.footer{padding:30px 0px; float:left; width:100%; background:#000;}
.footer h1{color:#e07100; font-size:18px; text-transform:uppercase; font-family: 'OpenSans-Bold'; margin:0px; padding-bottom:15px;}

.footer-top{float:left; width:100%;}
.footer-contact{float:left; width:285px; border-right: 1px solid #ddd; padding-right:20px;}
.footer-contact p{color:#fff; font-size:13px;}

.follow{float:left; width:100%;}
.follow h5{font-size:12px; color:#fff;}
.follow a{font-size:20px; margin-right:7px; color:#fff;}
.follow a:hover{color:#e07100; text-decoration:none;}

.newslatterbox{float:left; width:100%;}
.newslatterbox h5{font-size:14px; color:#fff; margin-bottom:0px;}
.newslatterbox input[type="email"] {
	width:100%;
	margin:0px;
	padding:0px 10px;
	background: #fff;
	height:42px;
	margin:15px 0px;
	outline:none;
	font-size:14px;
	border-radius:3px;
	font-weight:400;
	border:none;
	color:#8b8a8a;
}
.newslatterbtn{border:none; padding:7px 50px; display:inline-block; color:#fff; font-size:14px; background:#e07100;}

.destinations{float:left; width:200px; border-right: 1px solid #ddd; padding:0px 20px;}
.destinations ul{padding:0px; margin:0px;}
.destinations li{list-style:none; padding-bottom:13px;}
.destinations li a{color:#fff; font-size:13px;}
.destinations li a:hover{text-decoration:none; color:#e07100;}

.interest-links{float:left; width:340px; border-right: 1px solid #ddd; padding:0px 20px;}
.interest-links ul{padding:0px; margin:0px;}
.interest-links li{list-style:none; padding-bottom:13px; float:left; width:50%;}
.interest-links li a{color:#fff; font-size:13px;}
.interest-links li a:hover{text-decoration:none; color:#e07100;}

.privatelinks{width:300px; border:none;}

.footer-bottom{float:left; width:100%; text-align:center; padding-top:25px;}
.footer-bottom p{color:#fff;}
.footer-bottom ul{padding:0px;  margin:0px;}
.footer-bottom li{display:inline-block; padding:0px 7px;}


/***css2***/



.pakegedetials{width:100%; margin-bottom:15px; float:left;}
.pakeicon{float:left;}
.pakeginfo{float:left; padding:24px 0px 0px;}
.pakeginfo h3{float:left; font-size:16px; color:#4b4e53; font-weight:bolder; margin:0px;}
.pakeginfo h3 a{color:#4b4e53;}
.pakeginfo h4{float:left; font-size:14px; color:#333; clear:both; margin:5px 0px;}

.iconsshow{font-size:28px; color:#e07100; padding:22px 20px 0px 0px;}

.discoverstrip{width:100%; margin:15px 0px; padding:15px 0px 0px; background:#f7f7f7; float:left;}
.discovediv{width:100%; float:left;}
.discovediv h2{width:100%; font-size:18px; color:#4b4e53; text-align:center; font-family: 'OpenSans-Bold'; float:left;}
.discovediv p{width:100%; font-size:14px; color:#4b4e53; text-align:center; float:left;}

.discovershow{width:100%; padding:35px 0px 0px; float:left;}
.discoverbox{width:100%; float:left;}
.padboxs{padding:0px 0px 0px 10px;}
.padright{margin-left:-14px !important;}
.dicoverpic{width:100%; position:relative; overflow:hidden; margin:5px 0px;}
.dicoverpic img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;}
  
  
.dicoverpic img:hover{opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  }
  
.middle {transition:.5s ease; opacity:0; position: absolute; top: 54%; left: 50%; transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%); text-align: center;}
.dicoverpic:hover .image {opacity: 0.3;}
.dicoverpic:hover .middle {opacity: 1;}
.text{border:solid 3px #fff; color:#fff; font-size: 16px; padding: 10px 25px;}
.text:hover{border:solid 3px #e07100; background:#e07100; cursor:pointer;}
.distxts{width:100%; position:absolute; text-align:center; top:30%; font-size:20px; color:#fff; font-family: 'OpenSans-Semibold'; float:left;}
.distxts02{width:100%; position:absolute; text-align:center; top:41%; font-size:20px; color:#fff; font-family: 'OpenSans-Semibold'; float:left;}
.divie{width:45%; margin:0px auto; display:table; border-top:solid 3px #fff; height:34px;}
.discover05{width:100%; float:left;}

.holidaystrip{width:100%; background:#4b4e53; padding:50px 0px; float:left;}
.holidaystrip:hover{width:100%; background:#101010; transition: .5s ease; cursor:pointer;}
.hodlidayhead{width:100%; float:left;}
.hodlidayhead h3{width:100%; text-align:center; float:left; font-size:18px; color:#fff; letter-spacing: 4px; margin:0px;}



.pakeagediv{width:100%; padding:10px 0px 0px; background:#f7f7f7; float:left;}
.pakegdetials{width:100%; background:#fff; margin:0px 0px 8px; float:left;}
.pakegimg{width:100%; float:left;}
.pakegimg img{width:100%; float:left;}
.packinfos{width:100%; padding:5px 10px; float:left;}
.packinfos h4{width:100%; font-size:14px; color:#4b4e53; font-family: 'OpenSans-Bold'; float:left;}
.durations{width:100%; margin-bottom:8px; float:left;}
.drutionshow{float:left;}
.drutionshow h6{float:left; font-size:10px; color:#4b4e53; font-family: 'OpenSans-Bold'; clear:both; margin:5px 0px;}
.staricon{float:left; clear:both;}
.stsrcolor{color:#5d8ea2; font-size:13px; float:left; padding:0px 1px 0px 0px;}
.rateright{float:right; border-left:solid 1px #ede7e1; padding:3px 10px 3px; width:100px;}
.rateright h3{float:right; text-align:right; padding:0px; margin:0px; font-size:18px; color:#ff7200; font-family: 'OpenSans-Bold';}
.rateright p{float:right; text-align:right; padding:0px; margin:0px; font-size:10px; color:#939393; font-family: 'OpenSans-Bold';}
.packinfos p{width:100%; font-size:12px; color:#444449; float:left;}
.slectbtn{border:solid 1px #e5e5e5; font-size:10px; color:#4b4e53; padding:10px 15px; border-radius:3px; margin:15px 0px 10px; float:left;}
.slectbtn:hover{border:solid 1px #4b4e53; background:#4b4e53; font-size:10px; color:#fff; border-radius:3px; float:left;}
.padpakage{padding:0px 0px 0px 8px;}

.viewallpagkebtn{width:100%; font-size:14px; color:#4b4e53; text-align:center; padding:15px 0px; margin:10px 0px 0px; float:left;}
.viewallpagkebtn:hover{width:100%; background:#dedede; font-size:14px; color:#4b4e53; float:left;}

.tripstrip{width:100%; background:#f7f7f7; padding:8px 0px; float:left;}
.trippad{padding:0px;}
.tripinfo{width:100%; background:#fff; margin:8px 0px; float:left;}
.tripimg{width:100%; float:left;}
.tripimg img{width:100%; float:left;}
.tripdetails{width:100%; border-right:solid 1px #ede7e1; height:100%; min-height:220px; float:left;}
.tripdetails h3{width:100%; font-size:14px; color:#4b4e53; font-family: 'OpenSans-Bold'; margin:10px 0px 0px 0px; padding:10px 0px 0px 15px; float:left;}
.tripdetails h3 a{color:#4b4e53; font-family: 'OpenSans-Bold';}
.tripdetails h6{width:100%; font-size:10px; color:#747d7e; font-family: 'OpenSans-Semibold'; border-bottom:solid 1px #ede7e1; margin:15px 0px 0px 0px; padding:0px 0px 10px 15px; float:left;}
.tripshowinfos{width:100%; padding:15px 10px 0px 15px; float:left;}
.tripshowinfos p{width:100%; padding:5px 0px; font-size:14px; color:#4b4b4b; line-height:22px; float:left;}
.tripshowinfos span{width:100%; padding:2px 0px; font-size:10px; color:#4b4b4b; float:left;}
.histr{color:#4b4b4b; font-family: 'OpenSans-Bold'; }
.histr:hover{color:#b1b1b1;}
.tourprize{width:100%; padding:10px 10px; float:left;}
.tourstar{width:100%; text-align:center; margin:15px 0px 25px; display:inline-block;}
.tourstar ul{width:100%; padding:0px; margin:0px; text-align:center; display:inline-block;}
.tourstar ul li{text-align:center; display:inline-block; margin:0px 0px;}
.stsrcolor{color:#5d8ea2; font-size:13px; float:left; padding:0px 0px 0px 0px;}
.tourprize h4{width:100%; text-align:center; font-size:16px; color:#ff7200; padding:0px; margin:0px;  font-family: 'OpenSans-Semibold'; float:left;}
.tourprize h6{width:100%; text-align:center; font-size:10px; color:#939393; padding:0px; margin:5px 0px; font-family: 'OpenSans-Bold'; float:left;}
.slectbtn02{border:solid 1px #e5e5e5; font-size:10px; color:#4b4e53; padding:10px 15px; border-radius:3px; margin:15px 0px 10px 5px; float:left;}
.slectbtn02:hover{border:solid 1px #4b4e53; background:#4b4e53; font-size:10px; color:#fff; border-radius:3px; float:left;}



.gudiediv{width:100%; background:#dedddd; padding:20px 0px 110px; float:left;}
.gudideinfoshow{width:100%; float:left;}
.gudideinfoshow h2{width:100%; text-align:center; font-size:18px; color:#4b4e53; font-family: 'OpenSans-Bold'; margin:15px 0px 10px; float:left;}
.guidegellery{width:100%; margin:20px 0px 10px; float:left;}


.grid-item-content {
  height: 100px;
  background: #0D8;
  border: 2px solid hsla(0, 0%, 0%, 0.7);
}

.grid-item-content--height2 { height: 200px; }

.gudiepad{padding:0px;}
.gudieinfoimg{width:100%; overflow:hidden; float:left;}


.gudieinfoimg img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;}
  
  
.gudieinfoimg img:hover{opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  cursor:pointer;
  }
  
.gudiemid {transition:.5s ease; opacity:0; position: absolute; top: 10%; left: 40%; transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%); text-align:left;}
.gudieinfoimg:hover .image {opacity: 0.3;}
.gudieinfoimg:hover .gudiemid {opacity: 1;}
.guidetxts{width:100%; font-size:15px; color:#fff; font-family: 'OpenSans-Bold'; float:left;}
.guidematter{width:100%; font-size:12px; color:#fff; float:left;}



.sidelinks{float:left; position:fixed; top:30%; right:-34px; z-index:999999;}
.sidelinks a{
    background-color: #14a19c;
    padding: 9px;
    color: white;
	transform: rotate(-90deg);
	float:right;
	width:105px;
	text-align:center;
}

.sidelinks{-webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;}
.sidelinks .sidelinks-content{padding:15px; background:#14a19c; color:#fff; top:-33px; width:600px; height:105px; right:-600px; position:absolute;}
.sidelinks:hover .sidelinks-content{right:0px;
--webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;}
  
  
  
.sidelinks02{float:left; position:fixed; top:50%; right:-34px; z-index:999999;}
.sidelinks02 a{
    background-color: #ec7417;
    padding: 9px;
    color: white;
	transform: rotate(-90deg);
	float:right;
	width:105px;
	text-align:center;
}

.sidelinks02{-webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;}
.sidelinks02 .sidelinks02-content{padding:15px; background:#ec7417; color:#fff; top:-33px; width:600px; height:105px; right:-600px; position:absolute;}
.sidelinks02:hover .sidelinks02-content{right:0px;
--webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;}
  
.sidelinks03{float:left; position:fixed; top:70%; right:-34px; z-index:999999;}
.sidelinks03 a{
    background-color: #f26d7d;
    padding: 9px;
    color: white;
	transform: rotate(-90deg);
	float:right;
	width:105px;
	text-align:center;
}
  
.sidemenuss{float:left; width:100%; padding:0px 0px 0px 10px;}
.sidemenuss ul{float:left; width:100%; padding:0px; margin:0px;}
.sidemenuss ul li{float:left; font-size:14px; color:#fff; width:100%; line-height:25px; list-style-type:none;}

@media only screen and (min-width: 960px) and (max-width: 1140px) {
.affix{z-index:9999;}
.pakeicon{width:100%;}
.thailand-transfer-content{padding:40px 50px;}
.why-book-links p, .why-book-links h3 a{font-size:12px;}
.filterview{padding:7px 25px;}
.footer-contact{width:215px;}
.destinations{width:170px;}
.interest-links{width:260px;}
.privatelinks{width:290px;}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
.navbar-brand > img{width:140px;}
.navbar-nav > li{padding:0px 3px;}
.pakegedetials{width:50%;}
.thailand-transfer-content{width:100%;}
.affix{z-index:9999;}
.about-section-img{text-align:center;}
.showme-form label, .showme-form select{width:100%; margin-right:0px;}
.go-btn{margin-top:15px;}
.filterview{padding:7px 23px;}
.filtermid-left{font-size:12px;}
.sortby{margin-top:15px;}
.footer-contact, .destinations, .interest-links{border:none; width:100%;}
.footer h1{padding:15px 0px;}
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
.navbar-toggle{background:#fff;}
.navbar-toggle .icon-bar{background:#000;}
#navbar{width:100%; margin:0px; background:#000;}
.header, .affix{z-index:9999;}
.navbar-brand > img{width:190px; padding-left:10px;}
.enquirebtn{margin-top:5px; text-align:center;}
.navbar-nav > li ul{z-index:99; width:92%; top:5px; left:4%; padding-left:0px;}
.megamenu1{width:100%;}
.aisaheding h6{font-size:28px;}
.thailand-transfer-content{width:100%;}
.affix .phoneno{padding:15px;}
.padboxs{padding:0px 15px;}
.padright{margin-left:0!important;}
.about-section-img{text-align:center;}
.showme-form label, .showme-form select{width:100%; margin-right:0px;}
.go-btn{margin-top:15px;}
.filtermid-left{width:100%; margin:15px 0px; border:none;}
.padpakage, .trippad{padding:0px 15px;}
.tripdetails{border-right:none;}
.footer-contact, .destinations, .interest-links{border:none; width:100%;}
.footer h1{padding:15px 0px;}
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
.navbar-toggle{background:#fff;}
.navbar-toggle .icon-bar{background:#000;}
#navbar{width:100%; margin:0px; background:#000;}
.header, .affix{z-index:9999;}
.navbar-brand > img{width:190px; padding-left:10px;}
.enquirebtn{margin-top:5px; text-align:center;}
.navbar-nav > li ul{z-index:99; width:92%; top:5px; left:4%; padding-left:0px;}
.megamenu1{width:100%;}
.aisaheding h6{font-size:28px;}
.thailand-transfer-content{width:100%;}
.affix .phoneno{padding:15px;}
.padboxs{padding:0px 15px;}
.padright{margin-left:0!important;}
.about-section-img{text-align:center;}
.showme-form label, .showme-form select{width:100%; margin-right:0px;}
.go-btn{margin-top:15px;}
.filtermid-left{width:100%; float:none; border:none; margin:5px 0px;}
.filterview{display:inline-block;}
.filters{text-align:center;}
.padpakage, .trippad{padding:0px 15px;}
.tripdetails{border-right:none;}
.footer-contact, .destinations, .interest-links{border:none; width:100%;}
.footer h1{padding:15px 0px;}
}
@media only screen and (max-width: 479px) {
.navbar-toggle{background:#fff;}
.navbar-toggle .icon-bar{background:#000;}
#navbar{width:100%; margin:0px; background:#000;}
.header, .affix{z-index:9999;}
.navbar-brand > img{width:190px; padding-left:10px;}
.enquirebtn{margin-top:5px; text-align:center;}
.navbar-nav > li ul{z-index:99; width:92%; top:5px; left:4%; padding-left:0px;}
.megamenu1{width:100%;}
.aisaheding h6{font-size:28px;}
.thailand-transfer-content{width:100%;}
.affix .phoneno{padding:15px;}
.padboxs{padding:0px 15px;}
.padright{margin-left:0!important;}
.about-section-img{text-align:center;}
.showme-form label, .showme-form select{width:100%; margin-right:0px;}
.go-btn{margin-top:15px;}
.filterview{padding:7px 20px;}
.filtermid-left{width:100%; float:none; border:none; margin:5px 0px;}
.padpakage, .trippad{padding:0px 15px;}
.tripdetails{border-right:none;}
.footer-contact, .destinations, .interest-links{border:none; width:100%;}
.footer h1{padding:15px 0px;}
}