.booking-tours {
    .main-cn {
        margin-top:30px;
        border-radius: 6px;
        background: #ffffff;
        padding-bottom: 30px;
    }
    .step{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e9e9e9;
        .payment-step {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            li {
                width: 33.3333%;
                margin-top: 13px;
                float: left;
                position: relative;
               
                &:after,
                &:before{
                    display: block;
                    position: absolute;
                    background-color: #d0d0d0;
                    height: 3px;
                    content: '';
                    width: 50%;
                    left: 0;
                    top: 20px;
                    border-bottom: 0 solid #f5f5f5;
                }
                &.step-part:after {
                    background-color: #d19650;
                }
                &:before {
                    right: 0;
                    left: inherit;
                }
                span {
                    display: block;
                    position: relative;
                    z-index: 1;
                    margin: auto;
                    width: 40px;
                    height: 40px;
                    background-color: #f9f9f9;
                    border: 1px solid #ddd;
                    color: #666;
                    font-weight: 300;
                    line-height: 36px;
                    font-size: 16px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    -moz-background-clip: padding;
                    -webkit-background-clip: padding-box;
                    background-clip: padding-box;
                }
                p {
                    color: #666;
                    font-size: 12px;
                    line-height: 28px;
                    margin: 0;
                }
            }
        }
    }
    .payment-room {
        .payment-info {
            margin-top: 30px;
            h2 {
                font-size: 26px;
                font-weight: 700;
                color: #d19650;
                line-height: 24px;
                border-bottom: 1px dotted #ddd;
                padding-bottom: 15px;
            }
            ul {
                margin: 0;
                font-size: 13px;
                li {
                    position: relative;
                    color: #666;
                    padding-left: 105px;
                    line-height: 30px;
                    border-bottom: 1px dotted #ddd;
                    padding-bottom: 8px;
                    padding-top: 8px;
                    span {
                        color: #666;
                        position: absolute;
                        left: 0;
                        top: 8px;
                        font-weight: 600;
                    }
                }
            }
        }
        .payment-price {
            margin-top: 45px;
            border: 1px solid #e8e8e8;
            background-color: #fbfbfb;
            overflow: hidden;
            figure {
                width: 270px;
                float: left;
                padding-top: 26px;
                padding-left: 15px;
            }
            .total-trip {
                padding: 20px;
                margin-left: 270px;
                span {
                    color: #ff7800;
                    font-weight: 600;
                    line-height: 26px;
                    display: block;
                    small {
                        font-size: 14px;
                        font-weight: 400;
                        color: #666;
                    }
                }
                p {
                    color: #666;
                    margin: 10px 0 0;
                    padding-top: 13px;
                    line-height: 20px;
                    border-top: 1px solid #e8e8e8;
                    ins {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                        color: #d19650;
                    }
                    i {
                        font-style: normal;
                        display: block;
                        color: #666;
                        font-size: 13px;
                    }

                }
            }
        }
    }
    #form_booking {
        .payment-form {
            h2 {
                margin: 0 0 25px;
                padding-top: 0;
                color: #333;
                font-size: 24px;
                line-height: 28px;
            }
            .checkbox-booking{
                margin-top: 10px;
            }
            #submit_book{
                margin-top: 20px;
            }
            .checkbox-booking {
                .please {
                    width: 100%;
                    float: left;
                    margin-bottom: 10px;
                    b {
                        float: left;
                        margin-right: 14px;
                    }
                    li {
                        float: left;
                        margin-right: 10px;
                    }
                }
                .i_am_b {
                    width: 100%;
                    float: left;
                    b {
                        float: left;
                        margin-right: 10px;
                    }
                    li {
                        float: left;
                        margin-right: 10px;
                    }                    
                }
            }
            
            .select-country {
                border: 1px solid #dedede;
                height: 48px;
                border-radius: 0;
            }
            .form-book {
                li {
                    .radio-checkbox{
                        label {
                            line-height: 15px;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .departure-date {
                
                .radio-checkbox{
                    display: inline-block;
                    label{
                        &:before {
                            top: 2px;
                            border-radius: 0;
                        }
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .payment-form {
        .will_travel{
            &.form-book {
                span {
                    margin-top: 0;
                }
            }
        }
        
    }
}
.payment-room>.row {
    margin-left: 0;
    margin-right: 0;
}
.payment-room>.row>[class*=col-] {
    padding-left: 30px;
    padding-right: 30px;
}
.payment-form {
    margin: 30px 30px 0;
    .form-book {
        width: 100%;
        float: left;
        margin-top: 0;
        span{
            width: 100%;
            display: inline-block;
        }
    }
    .form-field {
        margin-top: 10px;
    }
    span {
        color: #333;
        line-height: 25px;
        margin: 36px 0 11px;
        font-size: 24px;
    }
    ul{
        li {
            width: 24%;
            float: left;
            padding: 5px 0;
            .radio-checkbox {
                label {
                    cursor: pointer;
                    color: #666;
                    padding-left: 28px;
                }
            }
        }
    }
    .form {
        position: relative;
        padding-bottom: 20px;
        &:before {
            display: block;
            top: 0;
            bottom: 0;
            width: 1px;
            background: url('../images/bg-border-h.png') top left repeat-y;
            left: 50%;
            content: '';
            position: absolute;
        }
    }
    .will_travel {
        ul {
            li{
                span{
                    &.solo {
                        cursor: pointer;
                        width: 19px;
                        height: 27px;
                        margin: 0 0 0 20px;
                        background: url('../images/sprite_2.png') -75px -923px no-repeat;
                        display: inline-block;
                    }
                    &.couple {
                        cursor: pointer;
                        width: 35px;
                        height: 27px;
                        margin: 0 0 0 27px;
                        background: url('../images/sprite_2.png') -104px -923px no-repeat;
                        display: inline-block;
                    }
                    &.family {
                        cursor: pointer;
                        width: 43px;
                        height: 27px;
                        margin: 0 0 0 18px;
                        background: url('../images/sprite_2.png') -149px -923px no-repeat;
                        display: inline-block;
                    }
                    &.group {
                        cursor: pointer;
                        width: 67px;
                        height: 27px;
                        margin: 0 0 0 5px;
                        background: url('../images/sprite_2.png') -202px -923px no-repeat;
                        display: inline-block;
                    }
                }
                .select-form {
                    width: 285px;
                    float: left;
                    margin-left: -80px;
                    display: none;
                    .select-div {
                        float: left;
                        width: 65px;
                        margin-right: 5px;
                        select {
                            width: 100%;
                        }
                        p {
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }
    .div-class-t{
        ul {
            li {
                float: left;
                width: 33%;
                span{
                    &.star-3 {
                        width: 40px;
                        height: 38px;
                        margin: 0 0 0 45px;
                        background: url('../images/sprite_2.png') 0 -1597px no-repeat;
                        display: inline-block;
                        cursor: pointer;
                    }
                    &.star-4 {
                        width: 40px;
                        height: 38px;
                        margin: 0 0 0 45px;
                        background: url('../images/sprite_2.png') -44px -1597px no-repeat;
                        display: inline-block;
                        cursor: pointer;
                    }
                    &.star-5 {
                        width: 40px;
                        height: 38px;
                        margin: 0 0 0 45px;
                        cursor: pointer;
                        display: inline-block;
                        background: url('../images/sprite_2.png') -92px -1597px no-repeat;
                    }
                }
                &.active {
                    span{
                        &.star-3 {
                            background: url('../images/sprite_2.png') 0 -1647px no-repeat;
                        }
                        &.star-4 {
                            background: url('../images/sprite_2.png') -44px -1647px no-repeat;
                        }
                        &.star-5 {
                            background: url('../images/sprite_2.png') -92px -1647px no-repeat;
                        }
                    }
                }
            }
        }
    }
    .form-field{
        .field-input {
            border: 1px solid #dedede;
            padding: 14px 20px;
            color: #333;
            width: 100%;
            outline: 0;
        }
    }
    .expiry-date {
        margin-top: 0;
        width: 60%;
        margin-right: 10px;
        display: inline-block;
        .form-field {
            .field-input {
                background: url('../images/icon-calendar.png') right 10px center no-repeat;
                padding: 9px 20px;
                color: #d19650;
                font-weight: 700;
            }
        }
    }
    
}
.radio-checkbox .checkbox {
    display: none;
}
.radio-checkbox .radio {
    display: none;
}
.radio-checkbox label:before {
    background-color: #e1e1e1;
}
.radio-checkbox .checkbox:checked~label:before {
    font-size: 13px;
    content: '\f00c';
    font-family: 'FontAwesome';
    text-align: center;
    color: #d19650;
}
.radio-checkbox .radio~label:after {
    width: 8px;
    height: 8px;
    content: '';
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 4px;
    background-color: #d19650;
    opacity: 0;
    visibility: hidden;
    top: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.radio-checkbox .radio:checked~label:after {
    opacity: 1;
    visibility: visible;
}
.radio-checkbox label:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 0;
    line-height: 14px;
    left: 0;
    cursor: pointer;
    /* background-color: #e1e1e1; */
    border: 1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.radio-checkbox label {
    position: relative;
    color: #555;
    font-weight: 400;
    padding-left: 25px;
    margin: 0;
    min-width: 16px;
    min-height: 16px;
    max-width: none;
    line-height: 15px;
    font-size: 16px;
}
#form_booking .payment-form ul li .radio-checkbox {
    width: 100%;
    float: left;
}
@media (max-width:991px){
    .booking-tours {
        .payment-room {
            .payment-price{
                figure{
                    width: 100%;
                    float: none;
                    padding-top: 26px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .total-trip{
                    margin-left: 0;
                }
            }
        }
    }
    .payment-form .form:before{
        display: none;
    }
    .booking-tours #form_booking .payment-form h2{
        margin-top: 20px;
    }
}
@media(max-width:767px){
    .payment-form .will_travel ul li .select-form{
        width: auto;
        margin-left: 0;
    }
}
@media (max-width: 480px){
    .step .payment-step li p {
        display: none;
    }
    .payment-form ul li{
        width: 50%;
    }
    .payment-form .expiry-date{
        width: 100%;
        margin-bottom: 5px;
    }
    .payment-form .div-class-t ul li{
        width: 100%;
    }
    .booking-tours #form_booking .payment-form .checkbox-booking .please li,
    .booking-tours #form_booking .payment-form .checkbox-booking .please b,
    .booking-tours #form_booking .payment-form .checkbox-booking .i_am_b b,
    .booking-tours #form_booking .payment-form .checkbox-booking .i_am_b li{
        float: none;
    }
}
