#txt-des{
	width:681px;
	float:left;
	h2{
		width:100%;
		height:50px;
		margin:0 0 20px 0;
		letter-spacing:2px;
		font-size:30px;
		font-family:'Arial', serif;
		float:left;
		position:relative;
	}
	span{
		&.line{
			width:100px;
			height:1px;
			background:#d7aa57;
			float:left;
			position:absolute;
			left:0;
			bottom:0;
		}
		&.viewmore{
			cursor: pointer; 
			color:#555;
			font-size:14px;
			margin:-3px 0 0 0;
			letter-spacing:1px;
			float:right;
			transition:all 0.35s;
			text-decoration:underline;
			font{
				font-size:18px;
			}
			&:hover{color:#b93327;}
		}
	}
	p{
		width:100%;
		float:left;
		line-height:1.5;
		span.nav{
			width:8px;
			height:8px;
			margin:7px 8px 0 0;
			background:url(../images/sprite.png) -90px -340px no-repeat;
			float:left;
		}
	}
	#body_about{
		width:100%;
		float:left;
		height:62px;
		overflow:hidden;
	}
	.main-info{
		line-height:1.8 !important;
		padding-bottom:0!important;
	}
	#detail{
		width:100%;
		margin:10px 0 0 0;
		float:left;
	}
	#img-des{
		width:100%;
		margin:20px 0 0 0;
		float:left;
		text-align:center;
		#box-img{
		 	height:auto;
		 	margin:0 65px 15px 0;
		 	float:none;
		 	position:relative;
		 	display:inline-block;
		 	// background-color: #333;
		 	border-radius: 100%;
		 	img{
		 		width:100%;
		 		height:auto;
		 		float:left;
		 		border-radius:100%;
		 		opacity:.8
		 	}
		 	h3{
		 	 	width:100%;
		 	 	font-weight:normal;
		 	 	text-align:center;
		 	 	float:left;
		 	 	position:absolute;
		 	 	left:0;
		 	 	top:70px;
		 	 	transition:all 1s ease;
		 	 	a{
		 	 		font-size:14px;
		 	 		padding:2px 9px;
		 	 		color:#fff;
		 	 		background:url(../images/opa2.png) repeat;
		 	 		-webkit-border-radius:2px;
		 	 		-moz-border-radius:2px;
		 	 		border-radius:2px;
		 	 	}
		 	 	span{
		 	 		font-size:14px;
		 	 		padding:2px 2px;
		 	 		color:#fff;
		 	 		-webkit-border-radius:2px;
		 	 		-moz-border-radius:2px;
		 	 		border-radius:2px;
		 	 		text-shadow: 0 0 2px #000;
		 	 		font-weight:bold;
		 	 	}
		 	}
		 	&:hover {
		 		img {opacity:1}
		 	}
		 }
	}
	h1 {
		width: 100%;
		height: 50px;
		margin: 0 0 20px 0;
		letter-spacing: 2px;
		font-size: 30px;
		font-family: 'Arial', serif;
		float: left;
		position: relative;
	    color: #111;
	    font-weight: bold;
	    &:before {
		    content: "";
		    width: 100px;
		    border-bottom: 1px solid #c19f66;
		    position: absolute;
		    bottom: 0;
		}
	}
	p {text-align: justify;}
	#detail.more {box-shadow: 0 -25px 15px #ffffff;}
}

#main-catdes{
	width:100%;
	position:relative;
	background:#fff;
	#content-catdes{
		width:100%;
		background:#fff;
		float:left;
		padding:30px 0;
	}
}
#banner-cat{
	img{
		width:100%;
	}
	>a {
		// float: left;
		display:block;
		line-height: 0;
	}
}
.map-overview{
	&#map-des {
		margin-right: 0;
		float: right;
		height: auto;
		border-left: 1px solid #f0f0f0;
		width: 436px;
	    position: relative;
	    padding-left: 30px;
		#map-image {
			height: auto;
		}
		.main-info {
			padding-top:20px;
		    padding-bottom: 10px;
		}
	}
}
#map-des {
	#map-view{
		width:100%;
		a{
			color:#555;
			text-decoration:underline;
			position: absolute;
			right: 12px;
			top: 12px;
			&:hover{
				color:#b93327;
				span.nav{background:url(../images/sprite.png) -477px -21px no-repeat;}
			}
			span.nav{
				width:20px;
				height:20px;
				background:url(../images/sprite.png) -477px 0 no-repeat;
				margin:0 0 0 5px;
				float:right;
			}
			> i.fa-globe {text-decoration: underline;}
		}
	}
}

.leaflet-container {
    background: #ddd;
    outline: 0;
	overflow: hidden;
}
.left .labelText {
    left: -100%;
    margin-left: 2px;
}

.top .labelText {
    top: -100%;
    margin-top: 2px;
}
.bBg .labelText, .bBg .labelText a {
    background-color: #555;
    font-weight: normal;
    color: #fff;
}
.style-medium .labelText {
    font-size: 14px;
}
.labelText {
    pointer-events: auto !important;
    cursor: default;
    font-family: GTW,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    white-space: nowrap;
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    position: absolute;
    top: -50%;
    left: -50%;
    line-height: 1.3;
}
.bBg .labelText, .bBg .labelText a {
    background-color: #4e3227;
    font-weight: normal;
    color: #fff;
    &:hover{
	    text-decoration: underline;
    }
}
.leaflet-container a {
    color: #0078a8;
}
.leaflet-marker-icon.leaflet-interactive, .leaflet-image-layer.leaflet-interactive, .leaflet-pane>svg path.leaflet-interactive {
    pointer-events: visiblePainted;
    pointer-events: auto;
}

.offset-marker, .label-marker {
    pointer-events: none !important;
}
.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-image-layer, .leaflet-pane>svg path, .leaflet-tile-container {
    pointer-events: none;
}
.leaflet-interactive {
    cursor: pointer;
}
.leaflet-marker-icon, .leaflet-marker-shadow {
    display: block;
}
.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
.leaflet-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-container, .leaflet-map-pane svg, .leaflet-map-pane canvas, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
    position: absolute;
    left: 0;
    top: 0;
}
.samap, #samap {
    background-color: #dbd6b7;
    background-size: 80px;
    width: 100%;
    position: relative;
    height: 504.389px;
}
.destination-overview .grid-1 #title-line h2 {
    margin-bottom: 0;
    height: 30px;
}
.destination-overview{
	&#main-besttours {
	    padding: 30px 0 20px 0;
	    margin-bottom: 40px;
	    #title-line{
	    	position:relative;
	    	h2{
	    		&:before{
	    			margin:0;
	    		}
	    	}
	    }
	    #detail {
			padding: 10px;
			background-color: #c19f66;
			background-position: 88%;
			border: 2px solid #4e3227;
			color: #4e3227;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			display: inline-block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 18px;
			padding: 8px 30px;
			font-weight: 600;
			&:hover {
				color: #ba3429;
			}
		}
		#scroll-tours{
		    margin-top: 20px;
		}
	}
}
#title-line {
	h2 {
	    text-transform: capitalize;
	    width: 100%;
	    height: 40px;
	    display: inline-block;
	    font-size: 24px;
	    margin-bottom: 20px;
	    font-family: 'Arial', serif;
	    letter-spacing: 2px;
	    position: relative;
	    color: #111;
	    font-weight: bold;
	    &:before {
		    content: "";
		    position: absolute;
		    bottom: -3px;
		    max-width: 370px;
		    border-bottom: 1px solid #c19f66;
		    left: 0;
		    right: 0;
		    margin:0 auto;
		}
	}
}

#directional {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
	.item{
		float:none;
		display:inline-block;
		margin:0 61px 30px 61px;
		span{
			width:127px;
			height:125px;
			transition:all 0.5s;
		}
		p{
			color: #222;
			padding-top: 10px;
			font-size: 13px;
			transition: all 0.5s ease;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	a:hover p{color:#971e1f;display:block;}
	.icon-vn{
		background:url(../images/sprite.png) -2px -1675px no-repeat;
		display:inline-block;
		&:hover{
			background:url(../images/sprite.png) -2px -1533px no-repeat;
			display:inline-block;
		}
	}
	.icon-cam{
		background:url(../images/sprite.png) -159px -1675px no-repeat;
		display:inline-block;
		&:hover{
			background:url(../images/sprite.png) -159px -1533px no-repeat;
			display:inline-block;
		}
	}
	.icon-laos{
		background:url(../images/sprite.png) -312px -1675px no-repeat;
		display:inline-block;
		&:hover{
			background:url(../images/sprite.png) -312px -1533px no-repeat;
			display:inline-block;
		}
	}
	.icon-tl{
		background:url(../images/sprite.png) -467px -1675px no-repeat;
		display:inline-block;
		&:hover{
			background:url(../images/sprite.png) -467px -1533px no-repeat;
			display:inline-block;
		}
	}
	.icon-mm{
		background:url(../images/sprite.png) -621px -1675px no-repeat;
		display:inline-block;
		&:hover{
			background:url(../images/sprite.png) -621px -1533px no-repeat;
			display:inline-block;
		}
	}
}
#filter{
	width:100%;
	text-align:center;
	ul{
		li{
			height:35px;
			margin:0 5px 5px 0;
			float:none;
			display:inline-block;
			a{
				height: 33px;
				padding: 0 15px;
				line-height: 33px;
				float: left;
				transition: all 0.35s;
				background-color: #4e3227;
				border:1px solid #4e3227;
				color: #fff;
				font-size: 16px;
				font-weight: bold;
				border-radius: 5px;
				&:hover{
					border:1px solid #971e1f;
					background:#fff;
					color:#971e1f;
				}
			}
		}
		h2{
			width:100%;
			font-family:'Arial', serif;
			letter-spacing:1px;
			margin-bottom:20px;
			font-size:20px;
			float:left;
			b{
				font-family:'Arial', serif;
				font-size:14px;
				text-transform:uppercase;
			}
		}
	}
	&_h{
		width:100%;
		margin:0 0 20px 0;
		float:left;
		span.line{
			width:1px;
			min-height:200px;
			background:#e5d8c5;
			margin:0 69px;
			float:left;
		}
	}
}
@media (max-width: 1199px){
	#txt-des #img-des {
	    width: 100%;
	}
	#search-bestcruise {
	    padding: 10px 0 20px 0;
	}
	#container-search #left-txt {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 10px;
	    border-right: 0;
	    h2,
	    span{
	    	width: 100%;
		    text-align: center;
		    font-size: 26px;
	    }
	}
	#box-input, #box2-input {
	    width: 48%;
	    margin: 5px 1%;
	}
	#container-search a.bt-search {
        width: 98% !important;
	    padding: 0;
	    text-align: center;
	    margin: 5px 1%;
	}
	#main-catdes{
		#txt-des{
			width:100%;
		}
	}
	.map-overview#map-des{
		margin-top:20px;
		border:0;
	    width: 100%;
        padding-left: 0;
	}
	#directional .item {
	    margin: 25px 20px 5px 20px;
	}
}
@media (max-width: 991px){
	#box2-input select.duration-cruise, #box2-input select.des-date {
	    width: 100%;
	}
	#scroll-tours #box-best-tour .item:nth-last-of-type(1) {
	    display: none;
	}
	#directional .item {
	    margin: 25px 8px 5px 8px;
	}
}
@media (max-width:767px){
	#box2-input {
	    width: 100%;
	    margin: 10px 0;
	}
	#txt-des #img-des #box-img {
	    padding: 0 15px;
	    height: auto;
	    margin:0;
	}
	#txt-des #img-des #box-img img {
	    width: 100%;
	}
	.destination-overview#main-besttours #title-line {
	    width: 100%;
	    text-align: center;
	}
	#title-line h2, #title-line h1 {
	    font-size: 20px;
	    letter-spacing: 1px !important;
	    line-height: 26px;
	}
	.destination-overview#main-besttours #detail{
		position:static;
	    border: 0;
        transform: none;	
    }
    #container-search #left-txt h2 {
	    font-size: 22px;
	}
}